################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.application
/.clio
/.nuget
/.solution
/.vscode
/bin/Debug
/Catalog/Catalog.Service.API/bin/Debug/net10.0
/Catalog/Catalog.Service.API/obj
/obj
/packages
/Stock/src/Stock.Service.API/bin/Debug/net10.0
/Stock/src/Stock.Service.API/obj
/Stock/src/Stock.Service.Application/bin/Debug/net10.0
/Stock/src/Stock.Service.Application/obj
/Stock/src/Stock.Service.Domain/bin/Debug/net10.0
/Stock/src/Stock.Service.Domain/obj
/Stock/src/Stock.Service.Persistence/.vs/Stock.Service.Persistence
/Stock/src/Stock.Service.Persistence/bin/Debug/net10.0
/Stock/src/Stock.Service.Persistence/obj
/Stock/tests/Stock.Service.Integration.Test/bin/Debug/net10.0
/Stock/tests/Stock.Service.Integration.Test/obj
/tasks
/Catalog/Catalog.Service.API/.vs/Catalog.Service.API
/Catalog/src/Catalog.Service.API/.vs/Catalog.Service.API
/Catalog/src/Catalog.Service.API/bin/Debug/net10.0
/Catalog/src/Catalog.Service.API/obj
